.meals-img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.meals-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
}
.meals-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}
.meals-area {
  font-weight: bold;
}
